/* Fonts */

/*Playfair Regular*/
@font-face {
    font-family: 'playfair_regular';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Playfair Bold*/
@font-face {
    font-family: 'playfair_bold';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Playfair Italic*/
@font-face {
    font-family: 'playfair_italic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*Playfair Bold Italic*/
@font-face {
    font-family: 'playfair_bold_italic';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


/*Raleway Light aka Regular*/
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.ttf') format('truetype'),
    url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Light Italic*/
@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*Raleway Medium aka Bold*/
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
    url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Raleway Medium Italic*/
@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
    url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Mobile base font */
html {
    font-size: 14px;
}

h1 {
    display: none;
}

h2 {    
    font-size: 2.4rem;
    font-family: 'playfair_bold', 'Times New Roman', serif;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

/* Header with Aloha, cart, and nav menu*/
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.7rem 0.7rem 0 0.7rem;
    position: fixed;
    background-color: #FFF;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.15);
    z-index: 1;
    width: 100%;
}

/* Div with whitespace to push hero banner down */
.white-space {
    width: 100%;
    height: 105px;
}

/* Aloha Apparel logo */ 
.aloha-logo {
    width: 8.5rem;
    height: 4rem;
}

/* Shopping cart icon */
.cart-icon {
    width: 3.5rem;
    height: 4rem;
    margin-right: 1.5rem;
}

/* navigation bar for webpage menu */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    margin-top: 0.5rem;
    border-top: 1px solid #d7d7d7;
    text-transform: uppercase;
    color: #e2574c;
    font-family: 'ralewaymedium', 'Arial', sans-serif;
}

/* Anchor links in the webpage menu */
.menu a {
    color: #e2574c;
    padding: 0 1rem;
    text-decoration: none;
}

/* Hero/flower girl Banner */
.hero-banner{
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
    url(../images/banner-girl.png) no-repeat center 60px,
    url(../images/flower-bkgd.jpg) repeat-x center top;
    background-size: contain, 10.75rem, cover;
    height: 400px;
    position: relative;
}

/* Container to style text within hero banner */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 3.5rem;
    line-height: 2.9rem;
    text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
}

/* The Collection text */
.collection{
    font-size: 1.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'ralewaymedium', 'Arial', serif;
}

/* The apparel season text */
.spring{
    width: 77%;
    text-align: center;
    font-size: 2.5rem;
    color: #FFFFFF;
    font-family: 'playfair_regular', 'Times New Roman', serif;
}

/* Wrapper containing Aloha Apparel webpage info */
.info-wrapper {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    color: #2d2d2d;
}

/* Used for the italic portions of the phrase */
span {
    font-family: 'playfair_italic', 'Times New Romans', serif;
}

/* Styling for text within the body */
.body-text{
    font-family: 'ralewaylight', 'Arial', sans-serif;
    font-size: 1.15rem;
    line-height: 2.3rem;
}

/* Aloha Apparel webpage info text*/
.shop-content {
    padding: 1.5rem 0.8rem;
}

/* Section that contains the product categories */
.products-category {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/* Wrapper that contains the product category pictures */
.picture-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%);
}

/* Styling for the long pictures and text within them */
.long-wrapper {
    width: 100%;
}

/* Pushing the picture images as background */
.long-pictures, .square-pictures {
    z-index: -1;
}

/* Styling for the long pictures themselves */
.long-pictures {
    width: 100%;
}

/* Styling for the square pictures and text within them */
.square-wrapper {
    width: 49%;
}

/* Styling for the square pictures themselves */
.square-pictures {
    width: 100%;
    z-index: -1;
}

/* Styling for the top row of square pictures */
.top-pics {
    margin: 0.5rem 0;
}


/* Styling for the bottom row of square pictures */
.bottom-pics {
    margin-bottom: 0.5rem;
}

/* The text within the product category pictures */
.category-text {
    position: absolute;
    font-family: "ralewaymedium", "Arial", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 2px 2px 4px #646464;
}

/* Wrapper that contains loved products and merch pictures/info  */
.merchandise-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the Most Loved Products text */
.loved-products {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
    color: #2d2d2d;
}

/* Unordered list with the product pictures and info */
.merch-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* List element */
li {
    display: inline-block;
}

/* Font style for featured product info text */
.product-font {
    font-family: 'ralewaymedium', 'Arial', sans-serif;
    color: #969696;
}

/* Styling for the type of merchandise text */
.type {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.85rem;
    font-size: 0.75rem;
}

/* Styling for the title of merchandise text */
.title{
    color: #e2574c;
    font-family: 'playfair_regular', 'Arial', sans-serif;
    margin-top: 1.2rem;
}

/* Styling for the price of merchandise text */
.price {
    font-size: 1rem;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}

/* Waves/Sign-up Section */
.waves {
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.09) 0%, rgba(0,0,0,0.2) 100%),
  url(../images/wave-bkgd.jpg);
  background-position: bottom;
  height: 332.5px;
  margin-top: 0.95rem;
}

/* Wrapper for content within the waves section */
.waves-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 0.35rem;
    line-height: 3.3rem;
    color: #FFF;
    text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
}

/* Styling for the Sign-up/Updates text */
.updates {
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-shadow: 2px 2px 4px #646464;
}

/* Update/Subscribe info text */
.waves-content {
    max-width: 550px;
    text-align: center;
    margin: 0.5rem 1rem;
}

/* Form wrapper for the email box */
form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 1rem 1.5rem 0 1.5rem;
}

/* Input box for the email box */
.input-box {
    outline: none;
    border: none;
    border-radius: 100px;
    width: 80%;
    height: 2.9rem;
    font-family: 'ralewaylight', 'Arial', sans-serif;
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-right: 10rem;
}

/* Subscribe button in the email box */
.subscribe {
    width: 8rem;
    height: 2.5rem;
    border: none;
    background-color: #e2574c;
    border-radius: 100rem;
    color: #FFF;
    font-family: 'ralewaymedium', 'Arial', sans-serif;
    font-size: 1rem;
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
    outline: none;
}

/* Footer: Information/Social media section */
.footer-banner {
    width: 100%;
    position: absolute;
    background-color: #242424;
    margin-top: 0.55rem;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    color: #FFF;
    text-align: center;
}

/* Wrapper containing the Location/Contact info  */
.information-wrapper {
    text-align: center;
    line-height: 1.5rem;
    font-family: 'playfair_regular', 'Times New Roman',serif;
    font-size: 1rem;
    margin-bottom: 2.4rem;
}

/* Aloha Apparel Webtools and Contact info */
.info-contact {
    margin-bottom: 0.9rem;
}

/* Aloha Apparel location info */
.location {
    color: #969696;
}

/* Styling for anchor link font in footer */
a{
    color: #FFF;
}

/* Styling for anchor link hover effect in footer */
a:hover {
    color: #b64036;
}

/* Social Media text */
.social-text{
    display: none;
}

/* Social Media icons */
.fa {
    min-width: 1.8rem;
}
/*Tablet Sized Viewport @ 600 */
@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    .header-wrapper {
        padding: 0.6rem 1rem;
        flex-wrap: nowrap;
    }

    .aloha-logo {
        width: 7.5rem;
    }

    .cart-icon {
        width: 3rem;
        order: 1;
        padding-right: 2rem;
    }

    nav {
        border: none;
        margin-top: 0.8rem;
        padding: 0 5rem 0 2rem;
    }

    .menu {
        display: flex;
    }

    .menu a {
        font-size: 0.9rem;
        padding: 0 0.7rem;
    }

    .white-space {
        height: 83px;
    }

    .hero-banner {
        background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%), url(../images/banner-girl.png) no-repeat center 60px, url(../images/flower-bkgd.jpg) repeat-x center top;
        background-size: contain, 9.4rem, cover;
    }

    .banner-container {
        padding-top: 2.5rem;
    }

    .collection {
        margin-bottom: 0.5rem;
    }

    .spring {
        font-size: 3rem;
    }

    .shop-content {
        max-width: 686px;
        margin: 0 auto;
    }

    .long-wrapper {
        width: 49%;
        height: 100%;
    }

    .square-wrapper {
        width: 24.5%;
        height: 100%;
    }

    .top-pics {
        margin: 0 0 0.5rem 0;
    }

    .bottom-pics {
        margin: 0;
    }

    .category-text {
        font-size: 1.8rem;
    }

    .featured-products {
        margin-bottom: 4.6rem;
    }

    .merch-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 0 2%;
    }

    .picture-list {
        width: 50%;
    }

    .product-picture {
        width: 17.5rem;
    }

    .waves {
        height: 340px;
    }

    .updates {
        padding-top: 2.5rem;
    }

    .waves-content{
        padding: 1rem 0.8rem;
        margin: 0 0;
        max-width: 670px;
    }

    form {
        width: 28rem;
    }

    .subscribe-button {
        width: 7rem;
    }

    .footer-wrapper {
        padding: 0 3rem 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    .information-wrapper {
        margin-bottom: 0;
        text-align: left;
    }

    .info-contact {
        margin-bottom: 1rem;
    }

    .info-location {
        line-height: 1.5rem;
    }

    .social-media {
        line-height: 2rem;
        margin-bottom: 0;
    }

    .social-content {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 0;
    }

    .fa {
        text-align: left;
    }

    .social-text {
        line-height: 2rem;
        display: inline-block;
        font-size: 1rem;
        font-family: "ralewaylight", "Arial", sans-serif;
    }
}
/*Desktop Sized Viewport @ 1240 */
@media screen and (min-width: 1240px) {
    .header-wrapper {
        padding: 1rem 1.5rem;
    }

    .aloha-logo {
        width: 160px;
    }

    .cart-icon {
        width: 62px;
    }

    nav {
        padding: 0 5rem 0 0;
    }

    .menu a {
        font-size: 1rem;
        padding: 0 1.2rem;
    }

    .white-space {
        height: 97px;
    }

    .hero-banner{
        background: 
        linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%),
        url(../images/banner-girl.png) no-repeat,
        url(../images/flower-bkgd.jpg) repeat-x;
        background-position: 50% 0rem, center 3.72rem;
        background-size: cover, 250px, contain;
        height: 550px;
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
    }

    .banner-container {
        margin: 0 auto;
        width: 825px;
        padding-top: 7.2rem;
    }

    .spring {
        font-size: 4rem;
        margin-top: 0.5rem;
    }

    .company-info {
        padding-left: 17rem;
        padding-right: 17rem;
    }

    .info-wrapper {
        padding-top: 4rem;
        padding-bottom: 2.5rem;
    }

    .category-text {
        font-size: 2.5rem;
    }

    .featured-products {
        margin-bottom: 0;
    }

    .loved-products {
        padding-top: 0;
    }

    .merch-list {
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .picture-list {
        width: 25%;
    }

    .product-picture {
        width: 83%;
    }

    .type {
        margin: 0.85rem 0 1.2rem 0;
        font-size: 0.75rem;
    }

    .price {
        font-size: 1rem;   
    }

    .merchandise-wrapper {
        padding: 4rem 0 0.4rem 0;
    }

    .waves {
        height: 344.5px;
        margin-top: 0;
    }

    .waves-wrapper {
        padding: 1.1rem 18rem 0 18rem;
    }

    .updates {
        padding-top: 0;
    }

    .waves-content {
        line-height: 2.25rem;
        margin: 0.5rem 1rem;
        padding: 0 5.3rem;
        min-width: 671px;
    }

    form {
        width: 41rem;
        margin: 1.5rem 2rem 0 13.5rem;
    }

    .input-box {
        padding-right: 9rem;
        width: 18.3rem;
    }

    .subscribe {
        width: 7rem;
        height: 2.7rem;
        right: 12.45rem;
        top: 0.15rem;
    }

    .footer-banner {
        padding-top: 4rem;
        padding-bottom: 3.5rem;
    }

    .footer-wrapper {
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 5rem 0 1.5rem;
    }
}